nz-native-polygons-topo-150k.shp filter=lfs diff=lfs merge=lfs -text
nz-river-centrelines-topo-150k.shp filter=lfs diff=lfs merge=lfs -text
nz-tree-points-topo-150k.dbf filter=lfs diff=lfs merge=lfs -text
